<!-- <div class="container h-800" style="margin-top: 10%;">
      <button type="button" class="btn btn-outline-danger" routerLink="/selectcharacter">
        <p>SMASH</p>
      </button>
</div> -->
<div class="background">
<div class="container">
  
  <div class="row" style="padding-top: 10px">
    <div class="col-4 ">
      <div class="posImg">
      <img class="iconAv">
    </div>
    </div>
    <div class="col-4 "><p></p></div>
    <div class="col-4 ">
      <p>
        <iframe src="http://free.timeanddate.com/clock/i76ytrkh/n254/tlit6/fcfff/tct/pct/ftb/ts1" frameborder="0" width="38" height="19" allowTransparency="true" style="margin-right:30px ;"></iframe>
        
        <label style="padding-right: 30px;" >x</label>
         100%  <fa-icon [icon]="faBatteryThreeQuarters" class=" battery"></fa-icon></p></div>
  </div> <!--header-->
  <div class="row" style="padding-top: 150px; padding-bottom: 150px;">
    <div class="col-3"><img class="coverGame1" routerLink="/selectcharacter"></div>
    <div class="col-3"><img class="coverGame2"></div>
    <div class="col-3"><img class="coverGame3"></div>
    <div class="col-3"><img class="coverGame4"></div>
  </div> <!-- body -->
  <div class="row">
    <div class="col-4"><p></p>

    </div>
    <div class="col-1">
      <fa-icon [icon]="faNewspaper" class="clickable news"></fa-icon>
    </div>
    <div class="col-1">
      <fa-icon [icon]="faShoppingBasket" class="clickable tets" routerLink="/tets"></fa-icon>
    </div>
    <div class="col-1">
      <fa-icon [icon]="faToolbox" class="clickable setting" ></fa-icon>
    </div>
    <div class="col-1">
      <fa-icon [icon]="faPowerOff" class="clickable poweroff"></fa-icon>
    </div>
    
    <div class="col-4"><p></p>
      
  </div> <!-- footer -->
  </div>
</div>