<!-- <div class="container h-800" style="margin-top: 10%;">
      <button type="button" class="btn btn-outline-danger" routerLink="/selectcharacter">
        <p>SMASH</p>
      </button>
</div> -->
<div class="background">
<div class="container">
  
  <div class="row" style="padding-top: 10px">
    <div class="col-4 ">
      <div class="posImg">
      <img class="iconAv">
    </div>
    </div>
    <div class="col-4 "><p>a</p></div>
    <div class="col-4 "><p>DATI ORA ECC</p></div>
  </div> <!--header-->
  <div class="row" style="padding-top: 150px; padding-bottom: 150px;">
    <div class="col-3"><img class="coverGame1" routerLink="/selectcharacter"></div>
    <div class="col-3"><img class="coverGame2"></div>
    <div class="col-3"><img class="coverGame3"></div>
    <div class="col-3"><img class="coverGame4"></div>
  </div> <!-- body -->
  <div class="row">
    <div class="col-4"><p>c</p>

    </div>
    <div class="col-4"><p>c</p></div>
    <fa-icon [icon]="faCoffee"></fa-icon>
    <div class="col-4"><p>c</p>
      
  </div> <!-- footer -->
  </div>
</div>