<div class="background">
    <div class="container">
        <div class="row lifeRow">
            <div class="col-6 posCol">
                <div class="lifeChara0"  [ngStyle]="{width: boxWidth + '%'}">
                </div>
            </div>
            <div class="col-6 posCol">
                <div class="lifeChara0" [ngStyle]="{width: boxWidth2 + '%'}"></div>
            </div>
        </div>
        <div class="row">
            <div id="gifEffect" *ngIf="showGif"></div>
            <div id="gifEffect2" *ngIf="showGif2"></div>
            <div class="col-6 colX" *ngFor="let character of BattleService.characters" >
                <img src={{character.url}} class="imgCl">
                <p class="iconeStile ">
                    {{character.name}}
                    <fa-icon [icon]="faHeart" class="" style="color: red;"></fa-icon>
                    {{character.life}}
                    <fa-icon [icon]="faMeteor" class="" style="color: rgb(91, 150, 218);"></fa-icon>
                    {{character.atk}}
                  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 colX">
                <div class="backItem">
                <div class="bottoneChara" (click)="SmashService.fight1(BattleService.characters[0],BattleService.characters[1])"
                (click)="smashEffectOn()" (click)=" boxWidth2 = boxWidth2 - 15" >
                </div>
            </div>
            </div>
            <div class="col-6 colX">
                <div class="backItem">
                <div class="bottoneChara" (click)="SmashService.fight2(BattleService.characters[0],BattleService.characters[1])"
                (click)="smashEffectOn2()"  (click)=" boxWidth = boxWidth - 15" >
            </div>
            </div>
        </div>
    </div>
</div>