.container{
    background-color: rgb(46, 46, 47);
    max-width: 4140px;
    max-height: 1920px;
    height: 1920px;
}

p{
    color:white;
}

.img{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 25%;
}