<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 centrale">
         <div class="title"></div> 
      </div>
      <div class="col-2"></div>
      
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 centrale">
        <p style="color: RED;"></p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-2 " *ngFor="let character of characters;let i = index" >
        <img src="{{character.url}}" class="imgX backPg clickable" 
        (click)="BattleService.addCharacterToBattle(character)" (click)="TornamentService.addCharacterToTornament(character)" [ngStyle]="{ 'background-color': colors[i] }">
        </div>
    </div>
    <div class="row">
      <div class="col-5">
        </div>
        <div class="col-2" *ngFor="let cara of BattleService.characters" >
            
          <img src="{{cara.url}}" class="imgX">
          <p class="iconeStile ">
            <fa-icon [icon]="faHeart" class="" style="color: red;"></fa-icon>
            {{cara.life}}
            <fa-icon [icon]="faMeteor" class="" style="color: rgb(91, 150, 218);"></fa-icon>
            {{cara.atk}}
          </p>

        </div>
    </div>
    <div class="col-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="bloccofight clickable" [routerLink]="['/fight']"></div>
        <button [routerLink]="['/torneo']">TORNEO</button>
      </div>
    </div>
  </div>
</div>