<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-6 posCol">
                <p class="title">TOURNAMENT</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-6 colX" *ngFor="let character of TornamentService.characters" >
                <img src={{character.url}} class="imgCl">
            </div>
        </div>
        <button (click)="TornamentService.fightTorneo()">Scopri il vincitore</button>
    </div>
</div>