.title{
    color:white;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 60pt;
    display: flex;
    justify-content: center;
    
}

.background{
    
    
    background-image: url("https://img.itch.zone/aW1nLzI0NTUwMTcucG5n/original/O7p6hI.png");
    background-repeat: round;
    
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.container{
    max-width: 1400px;
}

.posCol{
    margin-top: 15px;
}





.colX{
    height:150px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imgCl{
    width: 25%;
    height: 85px;
}

.bottoneVincitore{
    display:flex;
    justify-content: center;
    align-items: center;
}
img{

    border: 3px solid;
    border-color: rgb(15, 15, 15);;
    outline: 3px solid;
    outline-color: #623233;
}